@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham_Bold/Gotham_Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$hover-effect: rgb(243, 50, 50);
$main-color: #010b13;
body {
  width: 1364px;
  font-family: "Roboto Condensed";
  line-height: 1;
  margin: 0 auto;
}
ul,
li {
  display: block;
  padding: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}
a {
  &:hover {
    text-decoration: none;
  }
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #389ef2;
}
//header
header {
  background: #389ef2;
  color: #fafafa;
}
.container {
  width: 1140px;

  margin: 0 auto;
}
.nav {
  padding: 9px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
}
.logo {
  padding: 9px 12px 9px 0;
  border-right: 2px solid #ffc107;
}
.logo a {
  display: flex;
  align-items: center;
  .logo-img {
    width: 25px;
    height: 33px;
    margin-right: 12px;
  }
  p {
    font-style: italic;
    color: #fafafa;
    font-size: 25px;
    font-weight: 700;
  }
}
.logo-desc {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  user-select: none;
}

.navbar ul {
  display: flex;
}
.navbar__item {
  margin-right: 50px;

  img {
    width: 22px;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #fafafa;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    transition: 0.4s ease;
    &:hover {
      color: rgb(59, 59, 235);
    }
    i,
    img {
      color: #fafafa;
      font-size: 22px;
      margin-right: 10px;
    }
  }
}

.bg-brand {
  background: url(../img/bg-brand.png) no-repeat center;
  background-size: cover;
  min-height: 495px;
}
.brand-center {
  width: 560px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
  position: relative;
  .bg-logo {
    width: 223px;
    height: 295px;
    display: block;
    opacity: 0.4;
    position: absolute;
  }
  h1 {
    z-index: 9999;
    position: absolute;
    font-style: italic;
    font-size: 122px;
    font-weight: 400;
    user-select: none;
    left: 70px;
    top: 150px;
  }
}

//coming soon section
.coming,
.popular {
  background: $main-color;
  color: #fafafa;
}
.coming-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.title {
  font-size: 29px;
  font-weight: 600;
}
.btn-views {
  display: flex;
  align-items: center;
}
.btn {
  display: flex;
}
.btn__item {
  display: block;
  width: 137px;
  color: #fafafa;
  padding: 9px 0;
  border: 1px solid #fafafa;
  border-radius: 7px;
  text-align: center;
  margin-right: 24px;
  font-size: 21px;
  font-weight: 700;
  transition: 0.6s ease;
  &:last-child {
    margin-right: 50px;
  }
  &:hover {
    background: #fafafa;
    color: $main-color;
  }
}
.card-view,
.list-view {
  width: 40px;
  height: 20px;
  opacity: 0.6;
  margin-right: 22px;
  cursor: pointer;
  transition: 0.6s ease;
  &:last-child {
    margin-right: 0;
  }
}
.active-view {
  opacity: 1;
}
.coming-body {
  padding: 16px 0;
  background: #fafafa;
  // margin: 0 auto;
  // padding-left: 50px;
  .container {
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    position: relative;
    // will-change: transform;
  }
}

.act {
  cursor: grabbing !important;
  // transform: scale(1) !important;
}
.item {
  display: flex;
  color: $main-color;
  flex-direction: column;
  max-width: 220px;
  margin-right: 135px;
  outline: none;
  // cursor: pointer;
  // &:last-child {
  //   margin-right: 0;
  // }
}
.item__title,
.item__year {
  font-size: 20px;
  font-style: bold;
  font-weight: 700;
  padding-left: 5px;
  min-width: 220px;
  margin-bottom: 5px;
}
.item__img {
  position: relative;
  border-radius: 3px;
  transition: 0.4s ease;
  &:hover {
    filter: brightness(50%);
  }
  .movie-type,
  .movie-gradeless {
    position: absolute;
    width: 37px;
    top: 18px;
    left: 10px;
  }
  .movie-gradeless {
    left: auto;
    right: 13px;
    width: 35px;
    top: 13px;
  }
}
.movie-img {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 215px;
  height: 330px;
}
.item__actions {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 9px;
  // margin-left: 10px;
  padding-left: 9px;
  padding-right: 15px;
}
.action {
  margin-right: 28px;
  color: $main-color;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    color: $hover-effect;
  }
  &:last-child {
    margin-right: 0;
  }

  img {
    width: 20px;
    height: 20px;
  }
  span {
    margin: 0 7px;
    color: $main-color;
  }
}
.count {
  font-family: "Proxima Nova";
  font-size: 13px;
  margin-bottom: 14px;
}
// most popular section
.popular {
  z-index: 99999;
  position: relative;
}
.popular-body {
  background: #fafafa;
  padding-top: 35px;
  .container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    // white-space: nowrap;
    height: 630px;
    transition: all 0.2s;
    // transform: scale(0.995);
    // position: relative;
    &::-webkit-scrollbar {
      // background-color:red;
      // width: 0px;
    }
  }
}
.pop-item {
  display: flex !important;
  align-items: center;
  margin-bottom: 60px;
  outline: none;
  position: relative;
  &:last-child {
    margin-bottom: 30px;
  }
}
.pop-item__rating,
.item__rating {
  margin: 0 22px;
  position: relative;
}
.visibility {
  display: none;
}
.rating {
  position: absolute;
  font-family: "Gotham Bold";
  color: #22ca71;
  font-size: 28px;
  font-weight: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop-img {
  width: 104px;
  height: 157px;
  border-radius: 7px;
}
.pop-item__img,
.pop-item__rating {
  display: inline-block;
}
.pop-item-desc {
  // display: flex;
  flex-direction: column;
  display: inline-flex;

  width: 840px;
}
.pop-title {
  color: #389ef2;
  font-size: 15px;
  margin-bottom: 3px;
}
.pop-year {
  color: $main-color;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}
.pop-desc,
.item-desc {
  color: #4b555d;
  font-size: 18px;
  margin-bottom: 21px;
  text-align: justify;
  line-height: 1.13;
  //if scroll is needed

  // overflow: auto;
  // height: 57px;
}
.item-desc {
  width: 840px;
  margin-top: 15px;
}
.pop-actions {
  display: flex;
}
.pop-actions a {
  display: flex;
  align-items: center;
  color: $main-color;
  margin-right: 40px;
  &:nth-child(4) {
    margin-right: 0 !important;
  }
  &:last-child {
    margin-right: 0 !important;
  }

  span {
    margin: 0 7px;
    color: $main-color;
  }
  img {
    width: 24px;
  }
}
.pop-count {
  font-family: "Proxima Nova";
  font-size: 17px;
  font-weight: 700;
  transition: 0.4s ease;
  padding-top: 2px;
  &:hover {
    color: $hover-effect;
  }
}
.btn-readmore {
  border-bottom: 1px solid #389ef2;
  font-size: 18px;
  font-weight: 700;
  color: #389ef2 !important;
  margin-left: 405px;
  transition: 0.4s ease !important;
  &:hover {
    color: $hover-effect !important;
    border-bottom: 1px solid $hover-effect;
    // border-bottom: none;
  }
}
.btn-read {
  margin-left: 380px;
  border-bottom: 1px solid #389ef2;
  font-size: 18px;
  font-weight: 700;
  color: #389ef2 !important;
  transition: 0.4s ease !important;
  &:hover {
    color: $hover-effect !important;
    border-bottom: 1px solid $hover-effect;
  }
}

// .slider-coming2::before{
//   content: url("../img/verticali-slider-arrows.svg");
//   display: block;
//   width: 26px;
//   height: 9px;
//   position: absolute;
//   cursor: pointer;
//   right: -1110px;
// }
// .slider-coming2::after{
//   content: url("../img/verticali-slider-arrows.svg");
//   display: block;
//   width: 26px;
//   height: 9px;
//   position: absolute;
//   cursor: pointer;
//   right: -1110px;
//   transform: rotate(180deg);
// }
.up-arrow,
.down-arrow,
.up-arrow-pop,
.down-arrow-pop {
  width: 26px;
  height: 9px;
  position: relative;
  top: 5px;
  left: 1230px;
  cursor: pointer !important;
}
.down-arrow,
.down-arrow-pop {
  top: auto;
  bottom: 30px;
  transform: rotate(180deg);
}

.down-arrow-pop{
  bottom: 50px;
}
// //arrows
// .slick-prev {
//   border: none;
//   background: transparent;
//   position: absolute;
//   right: 0px;
//   top: 0;
//   bottom: 0;
//   width: 0px;
//   height: 0px;
//   font-size: 0;
//   outline: none;
// }
// .slick-prev:before {
//   content: url("../img/verticali-slider-arrows.svg");
//   display: block;
//   width: 26px;
//   height: 9px;
//   position: relative;
//   left: -6px;
//   bottom: 5px;
//   cursor: pointer;
//   // outline: none !important; ????

// }
// .slick-next {
//   position: absolute;
//   font-size: 0;
//   border: none;
//   background: none;
//   right: 0;
//   bottom: 55px;
//   margin-top: auto;
//   // margin-bottom: auto;
//   width: 0;
//   height: 0;
//   outline: none;
// }
// .slick-next:after {
//   content: url("../img/verticali-slider-arrows.svg");
//   transform: rotate(180deg);
//   display: block;
//   width: 26px;
//   height: 9px;
//   position: relative;
//   cursor: pointer;
//   left: -6px;
//   bottom: 5px;

// }
//foooter
.footer {
  background: $main-color;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 27px;
  position: relative;
}
.footer-title {
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
  color: #fafafa;
  user-select: none;
  margin-bottom: 27px;
}
.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 27px;
  span {
    font-size: 25px;
    color: #fafafa;
    font-style: italic;
    margin: 0 9px;
  }
}

.footer-links__item {
  font-size: 25px;
  font-style: italic;
  color: #fafafa;
  &:hover {
    color: rgb(122, 122, 122);
  }
}

.copyright {
  font-size: 18px;
  font-style: italic;
  color: #fafafa;
}
.footer-logo-left,
.footer-logo-right {
  width: 240px;
  height: 78%;
  position: absolute;
  z-index: 9999;
  display: block;
  top: 40px;
  left: -80px;
  overflow: hidden;
}

.footer-logo-right {
  height: 320px;
  left: auto;
  right: 0;
  top: -200px;
}
